@import "https://use.typekit.net/zws3jcz.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/barlow/Barlow-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/barlow/Barlow-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/barlow/Barlow-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/barlow/Barlow-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./fonts/barlow/Barlow-ExtraBold.ttf) format('truetype');
}

